{% for comment in comments %}
    <div class="container">

        <div class="card">
            <div>
                <a href = '/profile/{{ comment.commenter }}'>
                    {{ comment.username }}
                </a>
            </div>
            <p>
                {{ comment.content }}
            </p>
            <div>
                {{ comment.upvotes }}&hearts;
            </div>
            {% if loggedIn %}
                <form method = "POST" action="/upvote/comment">


                    {% if comment.isUpvoted %}
                        <button type = 'submit' name = 'upvote-button' class="btn btn-sm btn-outline-danger" value='{{ comment.id }}'>
                        Unlike
                        </button>
                    {% else %}
                        <button type = 'submit' name = 'upvote-button' class="btn btn-sm btn-primary" value='{{ comment.id }}'>
                        Like
                        </button>
                    {% endif %}

                </form>
            {% endif %}




        </div>
    </div>
{% endfor %}
