<div class="container-fluid custom-links-container col-xl-6 col-lg-8 col-md-10 col-sm-auto">
    {% for link in links %}
        
            <div class="card custom-link-card">
                <div class="custom-link-title">
                    <a href="/link/{{ link.id }}">
                        <h3>
                        {{ link.title }}
                        </h3>
                    </a>
                </div>
                
                <div class="custom-op">
                    <a href = '/profile/{{ link.userID }}'>
                        By {{ link.username }}
                    </a>
                </div>

                <div>
                    {{ link.upvotes }}&hearts;
                </div>
                {% if loggedIn %}
                    <form method = "POST" action="/upvote/link">
                        
                        {% if link.isUpvoted %}
                            <button type = 'submit' class="btn btn-outline-danger" name = 'upvote-button' value='{{ link.id }}'>
                            Unlike
                            </button>
                        {% else %}
                            <button type = 'submit' class="btn btn-primary" name = 'upvote-button' value='{{ link.id }}'>
                            Like
                            </button>
                        {% endif %}
                    </form>
                {% endif %}
                {% if link.tags %}
                    <div>
                        Tags:
                        {% for tag in link.tags %}
                            <a href = '/tag/{{ tag }}'>
                                {{ tag }}
                            </a>
                        {% endfor %}
                    </div>
                    
                {% endif %}
            </div>
         
    {% endfor %}
</div>